{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block titulo_painel %}
    Cargos Avaliados
{% endblock titulo_painel %}

{% block conteudo_painel %}

    <a id="add-link" href="{% url 'avaliacao:avaliacao-create' %}">
        <div class="col-2 add-div">
            <i class="fas fa-plus"></i> Adicionar Avaliação de Cargo
        </div>
    </a>
    <br>

    <form method="post" enctype="multipart/form-data" id="avaliacaoForm"
          data-alteracao-url="{% url 'avaliacao:ajax_load_alteracao' %}"
          data-exclusao-url="{% url 'avaliacao:ajax_load_exclusao' %}">
        {% csrf_token %}

        <div class="row">
            <div class="col-md-12">
                <table id="table_id" class="display" align="center" style="width:100%">
                    <thead>
                        <tr>
                            <th>Cargo</th>
                            <th><center>Visualizar</center></th>
                            <th><center>Reavaliar</center></th>
                            <th><center>Excluir</center></th>
                        </tr>
                    </thead>
                    <tbody>
                    {%for avaliacao in object_list %}
                        <tr>
                            <td>{{avaliacao.title}}</td>

                            <td><a href="{% url 'avaliacao:avaliacao-pdf' avaliacao.id %}"><center><i class="fa fa-eye"></i></center></a></td>

                            <td><center><button onclick="alteracao({{avaliacao.id}})" type="button" type="button"
                                                class="btn btn-primary "><i class="fa fa-edit"></i></button></center></td>

                            <td><center><button onclick="exclusao({{avaliacao.id}})" type="button" type="button"
                                                class="btn btn-primary "><i class="far fa-trash-alt"></i></button></center></td>
                        </tr>
                     {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <br>
         <a href="/index.html"><button type="button" class="btn btn-secondary">Voltar</button></a>
    </form>

{% endblock conteudo_painel %}

{% block js %}
<script>

$(document).ready( function () {
    $('#table_id').DataTable();
} );


function alteracao(id) {
    var url = $("#avaliacaoForm").attr("data-alteracao-url");
    var url1 = $("#avaliacaoForm").attr("data-update-url");

    $.ajax({                       // initialize an AJAX request
        url: url,               // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
              'id': id       // add the country id to the GET parameters,      // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          if (data != "") {
            var retorno = confirm(data);
            if (retorno == true)
            {
                window.location = "//bluebox21-a62c5eb102e8.herokuapp.com/avaliacao/avaliacao/update/" + id;
<!--                    window.location = "http://127.0.0.1:8000/avaliacao/avaliacao/update/" + id;-->
            }

          } else {
                window.location = "///bluebox21-a62c5eb102e8.herokuapp.com/avaliacao/avaliacao/update/" + id;
<!--               window.location = "http://127.0.0.1:8000/avaliacao/avaliacao/update/" + id;-->
          }
        }
    });

}


function exclusao(id) {
    var url = $("#avaliacaoForm").attr("data-exclusao-url");

    $.ajax({                       // initialize an AJAX request
        url: url,               // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
              'id': id       // add the country id to the GET parameters,      // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
            if (data != "") {
                alert(data);
            }
            else {
<!--                window.location = "http://127.0.0.1:8000/avaliacao/avaliacao/delete/" + id;-->
                window.location = "https://bluebox21-a62c5eb102e8.herokuapp.com/avaliacao/avaliacao/delete/" + id;

            }
        }
    });
}


</script>
{% endblock js %}

