{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block titulo_painel %}

{% endblock titulo_painel %}

{% block conteudo_painel %}
<form method="post" enctype="multipart/form-data" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">{% csrf_token %}

    <table border="1" >
        <thead>
            <tr>
                <th> <img align = center height=50 src="/logo_v.jpg" /> </th>
                <th colspan="4" style="height: 80px; font-size:180%">Descrição de Cargo</th>
            </tr>
        </thead>
    </table>
    </br>
    <table border=1>
        <tr>
            <th style="height: 20px; font-size:100%" align="left" valign="bottom" bgcolor="silver">1.Identificação</th>
        </tr>
        <tr>
            <th style="height: 20px; font-size:80%" align="left" valign="bottom">Titulo do Cargo: {{descricao.title}}</th>
        </tr>
        <tr>
            <th style="height: 20px; font-size:80%" align="left" valign="bottom">Função: {{descricao.function|default_if_none:""}} </th>
        </tr>
        <tr>
            <th style="height: 20px; font-size:80%" align="left" valign="bottom">Área: {{descricao.board}}</th>
        </tr>
        <tr>
            <th style="height: 20px; font-size:80%" align="left" valign="bottom">Subárea: {{descricao.area}}</th>
        </tr>
        <tr>
            <th style="height: 20px; font-size:80%" align="left" valign="bottom">Título do Cargo do Superior Imediato:: {{descricao.title_super}}</th>
        </tr>
        <tr>
            <th style="height: 20px; font-size:80%" align="left" valign="bottom">Familia de Cargo: {{descricao.family|default_if_none:""}}</th>
        </tr>
        <tr>
            <th style="height: 20px; font-size:80%" align="left" valign="bottom">Subfámilia de Cargo: {{descricao.sub_familia|default_if_none:""}}</th>
        </tr>
        <tr>
            <th style="height: 20px; font-size:80%" align="left" valign="bottom">Gestão de Equipe: {{descricao.manage_team}}</th>
        </tr>
        <tr>
            <th style="height: 20px; font-size:80%" align="left" valign="bottom">Cargos da Equipe: {{descricao.position_team}}</th>
        </tr>
    </table>
<!--    </br>-->
<!--    <table border=1>-->
<!--        <tr>-->
<!--            <th style="height: 20px; font-size:100%" align="left" valign="bottom" bgcolor="silver">2.Sumário do Cargo</th>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <th style="height: 20px; font-size:80%" align="left" valign="bottom">Atividade: {{descricao.summary}}</th>-->
<!--        </tr>-->
<!--         <tr>-->
<!--            <th style="height: 20px; font-size:80%" align="left" valign="bottom">Objetivo: {{descricao.summary_goal}}</th>-->
<!--        </tr>-->
<!--         <tr>-->
<!--            <th style="height: 20px; font-size:80%" align="left" valign="bottom">Abrangência: {{descricao.summary_coverage}}</th>-->
<!--        </tr>-->
<!--    </table>-->
        </br>
    <table border=1>
        <tr>
            <th style="height: 20px; font-size:100%" align="left" valign="bottom" bgcolor="silver">2. Missão do Cargo</th>
        </tr>
        <tr>
            <th style="height: 110px;" align="left" valign="top"></br>{{descricao.summary_goal}}</th>
        </tr>
    </table>
    </br>
<!--    <table border=1>-->
<!--        <tr>-->
<!--            <th style="height: 20px; font-size:100%" align="left" valign="bottom" bgcolor="silver">3. Abrangência do Cargo</th>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <th style="height: 40px; font-size:80%" align="left" valign="center">{{descricao.summary_coverage}}</th>-->
<!--        </tr>-->
<!--    </table>-->
<!--    </br>-->
    <table border=1>
        <tr>
            <th style="height: 20px; font-size:100%" align="left" valign="bottom" bgcolor="silver">3. Principais Responsabilidades</th>
        </tr>
        <tr>
            <th style="height: 110px;" align="left" valign="top"></br>{{descricao.responsibility}}</th>
        </tr>
    </table>
    <table border=1>
        <tr>
            <th colspan="2" style="height: 20px; font-size:100%" align="left" valign="bottom" bgcolor="silver">4. Requisitos do Cargo</th>
        </tr>
        <tr>
            <th style="height: 20px; font-size:80%" align="left" valign="bottom">Grau de Escolaridade Obrigatório: {{descricao.formation|default_if_none:""}}</th>
            <th style="height: 20px; font-size:80%" align="left" valign="bottom">Grau de Escolaridade Desejável: {{descricao.formation_desired}}</th>
        </tr>
        <tr>
            <th colspan="2" style="height: 20px; font-size:80%" align="left" valign="bottom">Area de Formação: {{descricao.areas_desired|default_if_none:""}},
                {{descricao.areas_desired2|default_if_none:""}}, {{descricao.areas_desired3|default_if_none:""}}, {{descricao.areas_desired4|default_if_none:""}}</th>
<!--            <th style="height: 20px; font-size:80%" align="left" valign="bottom">Area de Formação Desejada: {{descricao.area_desired}}</th>-->
        </tr>
        <tr>
            <th style="height: 20px; font-size:80%" align="left" valign="bottom">Formação Complementar: {{descricao.specialization|default_if_none:""}}</th>
            <th style="height: 20px; font-size:80%" align="left" valign="bottom">Área Formação Complementar: {{descricao.area_specialization|default_if_none:""}},
                {{descricao.area_specialization2|default_if_none:""}}, {{descricao.area_specialization3|default_if_none:""}},
                {{descricao.area_specialization4|default_if_none:""}}</th>
        </tr>
        <tr>
            <th colspan="2" style="height: 20px; font-size:80%" align="left" valign="bottom">Experiência: {{descricao.experience}}</th>
        </tr>
        <tr>
            <th style="height: 20px; font-size:80%" align="left" valign="bottom">Idioma: {{descricao.idioma|default_if_none:""}}</th>
            <th style="height: 20px; font-size:80%" align="left" valign="bottom">Proficiência: {{descricao.proficiency|default_if_none:""}}</th>
        </tr>
        <tr>
            <th style="height: 20px; font-size:80%" align="left" valign="bottom">Idioma: {{descricao.idioma2|default_if_none:""}}</th>
            <th style="height: 20px; font-size:80%" align="left" valign="bottom">Proficiência: {{descricao.proficiency2|default_if_none:""}}</th>
        </tr>
        <tr>
            <th style="height: 20px; font-size:80%" align="left" valign="bottom">Idioma: {{descricao.idioma3|default_if_none:""}}</th>
            <th style="height: 20px; font-size:80%" align="left" valign="bottom">Proficiência: {{descricao.proficiency3|default_if_none:""}}</th>
        </tr>
        <tr>
            <th colspan="2"  style="height: 20px; font-size:80%" align="left" valign="bottom">Habilitação/Certificação Obrigatoria:
                {{descricao.qualification|default_if_none:""}}
                {{descricao.qualification2|default_if_none:""}}, {{descricao.qualification3|default_if_none:""}},
                {{descricao.qualification4|default_if_none:""}}</th>
        </tr>
        <tr>
            <br>
            <th colspan="2"  style="height: 50px; font-size:83%" align="left" valign="top"></br>Conhecimentos Específicos: {{descricao.knowledge}}</th>
        </tr>
    </table>
<!--    </br>-->
<!--    <table border=1>-->
<!--        <tr>-->
<!--            <th style="height: 20px; font-size:100%" align="left" valign="bottom" bgcolor="silver">5. Supervisao Recebida</th>-->
<!--        </tr>-->
<!--    </table>-->
    </br>
    <table border=1>
        <tr>
            <th colspan="2" style="height: 20px; font-size:100%" align="left" valign="bottom" bgcolor="silver">5. Outras Informações</th>
        </tr>
        <tr>
            <th colspan="2" style="height: 40px; font-size:80%" align="left" valign="top"></br>{{descricao.information}}</th>
        </tr>
    </table>

    </br>
    <table border=1>
        <tr>
            <th style="height: 20px; font-size:80%" align="left" valign="bottom" >6. CBO: {{descricao.cbo|default_if_none:""}}</th>
        </tr>
    </table>
    </br>
    <table border=1>
        <tr>
            <th colspan="2" style="height: 20px; font-size:100%" align="left" valign="bottom" bgcolor="silver">7. Aprovação</th>
        </tr>
        <tr>
            <th style="height: 20px; font-size:80%" align="left" valign="bottom">Nome do Aprovador: {{descricao.approver|default_if_none:""}}</th>
            <th style="height: 20px; font-size:80%" align="left" valign="bottom">Data de Aprovação: {{descricao.date_approval|default_if_none:""}}</th>
        </tr>
    </table>

</form>
{% endblock %}
