{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block titulo_painel %}

{% endblock titulo_painel %}

{% block conteudo_painel %}
<form method="post" enctype="multipart/form-data" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">{% csrf_token %}

    <table border="1" >
        <thead>
            <tr>
                <th colspan="4" style="height: 80px; font-size:180%">Descrição de Cargo</th>
            </tr>
        </thead>
    </table>
    </br>
    <table border=1>
        <tr>
            <th style="height: 20px; font-size:100%" align="left" valign="bottom" bgcolor="silver">1.Identificação</th>
        </tr>
        <tr>
            <th style="height: 20px; font-size:80%" align="left" valign="bottom">Titulo do Cargo: {{descricao.title}}</th>
        </tr>
        <tr>
            <th style="height: 20px; font-size:80%" align="left" valign="bottom">Função: {{descricao.function}} </th>
        </tr>
        <tr>
            <th style="height: 20px; font-size:80%" align="left" valign="bottom">Área: {{descricao.board}}</th>
        </tr>
        <tr>
            <th style="height: 20px; font-size:80%" align="left" valign="bottom">Subárea: {{descricao.area}}</th>
        </tr>
        <tr>
            <th style="height: 20px; font-size:80%" align="left" valign="bottom">Título do Cargo do Superior Imediato:: {{descricao.title_super}}</th>
        </tr>
        <tr>
            <th style="height: 20px; font-size:80%" align="left" valign="bottom">Familia de Cargo: {{descricao.family}}</th>
        </tr>
        <tr>
            <th style="height: 20px; font-size:80%" align="left" valign="bottom">Sub-Fámilia de Cargo: {{descricao.sub_familia}}</th>
        </tr>
        <tr>
            <th style="height: 20px; font-size:80%" align="left" valign="bottom">Gestão de Equipe: {{descricao.manage_team}}</th>
        </tr>
        <tr>
            <th style="height: 20px; font-size:80%" align="left" valign="bottom">Cargos da Equipe: {{descricao.position_team}}</th>
        </tr>
    </table>
<!--    </br>-->
<!--    <table border=1>-->
<!--        <tr>-->
<!--            <th style="height: 20px; font-size:100%" align="left" valign="bottom" bgcolor="silver">2.Sumário do Cargo</th>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <th style="height: 20px; font-size:80%" align="left" valign="bottom">Atividade: {{descricao.summary}}</th>-->
<!--        </tr>-->
<!--         <tr>-->
<!--            <th style="height: 20px; font-size:80%" align="left" valign="bottom">Objetivo: {{descricao.summary_goal}}</th>-->
<!--        </tr>-->
<!--         <tr>-->
<!--            <th style="height: 20px; font-size:80%" align="left" valign="bottom">Abrangência: {{descricao.summary_coverage}}</th>-->
<!--        </tr>-->
<!--    </table>-->
        </br>
    <table border=1>
        <tr>
            <th style="height: 20px; font-size:100%" align="left" valign="bottom" bgcolor="silver">2. Objetivo do Cargo</th>
        </tr>
        <tr>
            <th style="height: 40px; font-size:80%" align="left" valign="center">{{descricao.summary_goal}}</th>
        </tr>
    </table>
    </br>
    <table border=1>
        <tr>
            <th style="height: 20px; font-size:100%" align="left" valign="bottom" bgcolor="silver">3. Abrangência do Cargo</th>
        </tr>
        <tr>
            <th style="height: 40px; font-size:80%" align="left" valign="center">{{descricao.summary_coverage}}</th>
        </tr>
    </table>
    </br>
    <table border=1>
        <tr>
            <th style="height: 20px; font-size:100%" align="left" valign="bottom" bgcolor="silver">4. Principais Responsabilidades</th>
        </tr>
        <tr>
            <th style="height: 40px; font-size:80%" align="left" valign="center">{{descricao.responsibility}}</th>
        </tr>
    </table>
    </br>
    <table border=1>
        <tr>
            <th colspan="2" style="height: 20px; font-size:100%" align="left" valign="bottom" bgcolor="silver">5. Requisitos do Cargo</th>
        </tr>
        <tr>
            <th style="height: 20px; font-size:80%" align="left" valign="bottom">Formação Obrigatório: {{descricao.formation}}</th>
            <th style="height: 20px; font-size:80%" align="left" valign="bottom">Area de Formação Obrigatório: {{descricao.areas}}</th>
        </tr>
        <tr>
            <th style="height: 20px; font-size:80%" align="left" valign="bottom">Formação Desejada: {{descricao.formation_desired}}</th>
            <th style="height: 20px; font-size:80%" align="left" valign="bottom">Area de Formação Desejada: {{descricao.area_desired}}</th>
        </tr>
        <tr>
            <th style="height: 20px; font-size:80%" align="left" valign="bottom">Especialização: {{descricao.specialization}}</th>
            <th style="height: 20px; font-size:80%" align="left" valign="bottom">Area de Especialização: {{descricao.area_specialization}}</th>
        </tr>
        <tr>
            <th style="height: 20px; font-size:80%" align="left" valign="bottom">Experiência: {{descricao.experience}}</th>
        </tr>
        <tr>
            <th style="height: 20px; font-size:80%" align="left" valign="bottom">Idioma: {{descricao.idioma}}</th>
            <th style="height: 20px; font-size:80%" align="left" valign="bottom">Proficiência: {{descricao.proficiency}}</th>
        </tr>
        <tr>
            <th colspan="2"  style="height: 20px; font-size:80%" align="left" valign="bottom">Habilitação / Certificação Obrigatoria: {{descricao.qualification}}</th>
        </tr>
        <tr>
            <th colspan="2"  style="height: 20px; font-size:80%" align="left" valign="bottom">Conhecimentos Específicos: {{descricao.knowledge}}</th>
        </tr>
    </table>
<!--    </br>-->
<!--    <table border=1>-->
<!--        <tr>-->
<!--            <th style="height: 20px; font-size:100%" align="left" valign="bottom" bgcolor="silver">5. Supervisao Recebida</th>-->
<!--        </tr>-->
<!--    </table>-->
    </br>
    <table border=1>
        <tr>
            <th style="height: 20px; font-size:100%" align="left" valign="bottom" bgcolor="silver">6. Outras Informações</th>
        </tr>
        <tr>
            <th style="height: 20px; font-size:80%" align="left" valign="bottom">Informações: {{descricao.information}}</th>
        </tr>
    </table>
    </br>
    <table border=1>
        <tr>
            <th style="height: 20px; font-size:80%" align="left" valign="bottom" >7. CBO: {{descricao.cbo}}</th>
        </tr>
    </table>
    </br>
    <table border=1>
        <tr>
            <th colspan="2" style="height: 20px; font-size:100%" align="left" valign="bottom" bgcolor="silver">8. Aprovação</th>
        </tr>
        <tr>
            <th style="height: 20px; font-size:80%" align="left" valign="bottom">Nome do Aprovador: {{descricao.approver}}</th>
            <th style="height: 20px; font-size:80%" align="left" valign="bottom">Data de Aprovação: {{descricao.date_approval}}</th>
        </tr>
    </table>

</form>
{% endblock %}
