{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block titulo_painel %}
    Descrições de Cargo Aprovadas
{% endblock titulo_painel %}

{% block conteudo_painel %}
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12">
                <table id="table_id" class="display" align="center" style="width:100%">
                    <thead>
                        <tr>
                            <th>Descrição</th>
                            <th>Status</th>
                            <th><center>Selecionar</center></th>

                        </tr>
                    </thead>
                    <tbody>
                    {%for descricao in object_list %}
                        <tr>
                            <td>{{descricao.title}}</td>
                            <td>{{descricao.status}}</td>
                            <td><a href="{% url 'avaliacao:avaliacao-modelo-create' descricao.id %}"><center><i class="far fa-check-circle"></i></i></center></a></td>
                        </tr>
                     {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <br>
         <a href="/index.html"><button type="button" class="btn btn-secondary">Voltar</button></a>
    </form>

{% endblock conteudo_painel %}

{% block js %}
<script>
    $(document).ready( function () {
        $('#table_id').DataTable();
    } );


</script>
{% endblock js %}

