{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block titulo_painel %}
   Define Aprovador
{% endblock titulo_painel %}


{% block conteudo_painel %}
<form method="post" enctype="multipart/form-data" id="descricaoForm" data-areas-url="{% url 'descricao:ajax_load_areas' %}" data-sub_familias-url="{% url 'descricao:ajax_load_sub_familias' %}">{% csrf_token %}
    <font size=2>
        <div class="row">
            <div class="col-md-4">
                {{ form.title|as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ form.function|as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ form.status|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{ form.board|as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ form.area|as_crispy_field }}
            </div><div class="col-md-4">
                {{ form.title_super|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{ form.family|as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ form.sub_familia|as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ form.manage_team|as_crispy_field }}
            </div>
        </div>
        <br>
        {{ form.position_team|as_crispy_field }}

<!--        <div class="row">-->
<!--            <div class="col-md-4">-->
        {{ form.summary_goal|as_crispy_field }}
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-md-4">-->
        {{ form.responsibility|as_crispy_field }}
<!--            </div>-->
<!--        </div>-->
        <br>
        <div class="row">
            <div class="col-md-4">
                {{ form.formation|as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ form.formation_desired|as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ form.specialization|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{ form.areas|as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ form.areas_desired|as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ form.area_specialization|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{ form.areas2|as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ form.areas_desired2|as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ form.area_specialization2|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{ form.areas3|as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ form.areas_desired3|as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ form.area_specialization3|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{ form.areas4|as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ form.areas_desired4|as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ form.area_specialization4|as_crispy_field }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                {{ form.idioma|as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ form.idioma2|as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ form.idioma3|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{ form.proficiency|as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ form.proficiency2|as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ form.proficiency3|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{ form.qualification|as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ form.qualification2|as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ form.qualification3|as_crispy_field }}
            </div>
        </div>
        <br>
<!--        <div class="row">-->
<!--            <div class="col-md-4">-->
        {{ form.knowledge|as_crispy_field }}
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-md-4">-->
        {{ form.information|as_crispy_field }}
<!--            </div>-->
<!--        </div>-->
        <div class="row">
            <div class="col-md-4">
                {{ form.experience|as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ form.approver|as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ form.date_approval|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{ form.cbo|as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ form.user_id|as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ form.is_active|as_crispy_field }}
            </div>
        </div>
    </font>
    <br>
    <button type="submit" class="btn btn-success">Salvar</button>
    <a href="{% url 'descricao:descricao-list-aprovador' %}"><button type="button" class="btn btn-secondary">Cancelar</button></a>

</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
$("#id_board").change(function () {
  var url = $("#descricaoForm").attr("data-areas-url");  // get the url of the `load_cities` view
  var boardId = $(this).val();  // get the selected country ID from the HTML input

  $.ajax({                       // initialize an AJAX request
    url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
    data: {
      'board': boardId       // add the country id to the GET parameters
    },
    success: function (data) {   // `data` is the return of the `load_cities` view function
      $("#id_area").html(data);  // replace the contents of the city input with the data that came from the server
    }
  });

});

$("#id_family").change(function () {
  var url = $("#descricaoForm").attr("data-sub_familias-url");  // get the url of the `load_cities` view
  var familyId = $(this).val();  // get the selected country ID from the HTML input

  $.ajax({                       // initialize an AJAX request
    url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
    data: {
      'family': familyId       // add the country id to the GET parameters
    },
    success: function (data) {   // `data` is the return of the `load_cities` view function
      $("#id_sub_familia").html(data);  // replace the contents of the city input with the data that came from the server
    }
  });

});

</script>
{% endblock %}
