{% for ia in ias %}
    {{ ia.missao }}|
    {{ ia.responsabilidades }}|
    {{ ia.competencias }}|
    <option value="{{ ia.equipe }}">{{ia.equipe_name}}</option>|
    <option value="{{ ia.escolaridade }}">{{ia.escolaridade}} - {{ia.escolaridade_name}}</option>|
    <option value="{{ ia.complementar }}">{{ia.complementar_name}}</option>|
    <option value="{{ ia.experiencia }}">{{ia.experiencia_name}}</option>|
    <option value="{{ ia.area_formacao }}">{{ia.area_formacao_name}}</option>|
    <option value="{{ ia.habilitacao }}">{{ia.habilitacao_name}}</option>|
{% endfor %}