{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block titulo_painel %}
   Carregar Descriçoẽs

{% endblock titulo_painel %}


{% block conteudo_painel %}

<div class="container">
  <h2>Importar Descrições</h2>
  <br>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {{ form.as_p }}
    <br>
    <button onclick="CarregaIA()" type="button" class="btn btn-primary"><b>  Usar IA</b></button>
    <div class='loading'>
        <img src='https://i.sstatic.net/fLkAW.gif' alt=''/>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Importar</button>
    <a href="{% url 'descricao:descricao-list' %}"><button type="button" class="btn btn-secondary">Cancelar</button></a>
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>

  function CarregaIA() {
      var loading = $('.loading');
      alert("entrou");
      loading.css('visibility', 'visible'); // exibe o div

  }

</script>


{% endblock %}

