{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block titulo_painel %}
    Lista de Empresa
{% endblock titulo_painel %}

{% block conteudo_painel %}

    <a id="add-link" href="{% url 'tenants:tenant-create' %}">
        <div class="col-2 add-div">
            <i class="fas fa-plus"></i> Adicionar Empresa
        </div>
    </a>
    <br>

    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12">
                <table id="table_id" class="display" align="center" style="width:100%">
                    <thead>
                        <tr>
                            <th>Empresa</th>
<!--                            <th>CNPJ</th>-->
                            <th><center>Editar</center></th>
                            <th><center>Excluir</center></th>
                        </tr>
                    </thead>
                    <tbody>
                    {%for tenants in object_list %}
                        <tr>
                            <td>{{tenants.name}}</td>
<!--                            <td>{{tenants.cnpj}} </td>-->
                            <td><a href="{% url 'tenants:tenant-update' tenants.id %}"><center><i class="fas fa-edit"></i></center></a></td>
                            <td><a href="{% url 'tenants:tenant-delete' tenants.id %}"><center><i class="far fa-trash-alt"></i></center></a></td>
                        </tr>
                     {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
         <a href="/index.html"><button type="button" class="btn btn-secondary">Voltar</button></a>
    </form>

{% endblock conteudo_painel %}

{% block js %}
<script>
    $(document).ready( function () {
        $('#table_id').DataTable();
        $('#cnpj').mask('00.000.000/0000-00');
    } );
</script>
{% endblock js %}

