{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block titulo_painel %}
    Usuários
{% endblock titulo_painel %}

{% block conteudo_painel %}
    <form method="post" enctype="multipart/form-data">{% csrf_token %}

        <div class="row">
            <div class="col-md-4">
                {{ form.name|as_crispy_field }}
            </div>

<!--             <div class="col-md-4">-->
<!--                {{ form.person|as_crispy_field }}-->
<!--            </div>-->
            <div class="col-md-4">
                {{ form.default_tenant|as_crispy_field }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                {{ form.email|as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ form.password|as_crispy_field }}
            </div>
        </div>


        <br>
        <button type="submit" class="btn btn-success">Salvar</button>
        <a href="{% url 'user_account:customuser-list' %}"><button type="button" class="btn btn-secondary">Cancelar</button></a>
    </form>
{% endblock %}