{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block titulo_painel %}
   Cadastro da Descrição
{% endblock titulo_painel %}

{% block conteudo_painel %}
<form method="post" enctype="multipart/form-data">{% csrf_token %}
    <div class="row">
        <div class="col-md-4">
            {{ form.title|as_crispy_field }}
        </div>
        <div class="col-md-4">
            {{ form.cbo|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ form.summary|as_crispy_field }}
        </div>
        <div class="col-md-4">
            {{ form.summary_goal|as_crispy_field }}
        </div>
        <div class="col-md-4">
            {{ form.summary_coverage|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ form.responsibility|as_crispy_field }}
        </div>
        <div class="col-md-4">
            {{ form.formation|as_crispy_field }}
        </div>
        <div class="col-md-4">
            {{ form.areas|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ form.formation_desired|as_crispy_field }}
        </div>
        <div class="col-md-4">
            {{ form.areas_desired|as_crispy_field }}
        </div>
        <div class="col-md-4">
            {{ form.experience|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ form.specialization|as_crispy_field }}
        </div>
        <div class="col-md-4">
            {{ form.area_specialization|as_crispy_field }}
        </div>
        <div class="col-md-4">
            {{ form.qualification|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ form.board|as_crispy_field }}
        </div>
        <div class="col-md-4">
            {{ form.area|as_crispy_field }}
        </div>
        <div class="col-md-4">
            {{ form.title_super|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ form.family|as_crispy_field }}
        </div>
        <div class="col-md-4">
            {{ form.sub_familia|as_crispy_field }}
        </div>
        <div class="col-md-4">
            {{ form.manage_team|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ form.position_team|as_crispy_field }}
        </div>
        <div class="col-md-4">
            {{ form.idioma|as_crispy_field }}
        </div>
        <div class="col-md-4">
            {{ form.proficiency|as_crispy_field }}
        </div>
    </div>
     <div class="row">
        <div class="col-md-4">
            {{ form.supervision|as_crispy_field }}
        </div>
        <div class="col-md-4">
            {{ form.information|as_crispy_field }}
        </div>
        <div class="col-md-4">
            {{ form.approver|as_crispy_field }}
        </div>
    </div>
    <br>
    <a href="{% url 'admin_descricao:admin_descricao-list' %}"><button type="button" class="btn btn-secondary">Cancelar</button></a>

</form>

{% endblock %}
