{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block titulo_painel %}
    Modelos de Descrição de Cargo
{% endblock titulo_painel %}

{% block conteudo_painel %}
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12">
                <table id="table_id" class="display" align="center" style="width:100%">
                    <thead>
                        <tr>
                            <th>Descrição</th>
                            <th><center>Visualizar</center></th>
                            <th><center>Editar</center></th>
                        </tr>
                    </thead>
                    <tbody>
                    {%for admin_descricao in object_list %}
                        <tr>
                            <td>{{admin_descricao.title}}</td>
                            <td><a href="{% url 'admin_descricao:admin_descricao-detail' admin_descricao.id %}"><center><i class="fas fa-eye"></i></center></a></td>
                            <td><a href="{% url 'descricao:descricao-modelo-create' admin_descricao.id %}"><center><i class="far fa-check-circle"></i></i></center></a></td>
                        </tr>
                     {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <br>
         <a href="/index.html"><button type="button" class="btn btn-secondary">Voltar</button></a>
    </form>

{% endblock conteudo_painel %}

{% block js %}
<script>
    $(document).ready( function () {
        $('#table_id').DataTable();
    } );
</script>
{% endblock js %}

