<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <title>BlueBox21</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-faded" style="background-color: #00205E">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent" >
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active" >
                        <a class="nav-link" href="/admin/">Admin</a>
                    </li>
                    <li class="nav-item active" >
                        <a class="nav-link"  href="#">Usuário Master <span class="sr-only">(current)</span></a>
                         <ul>
                             {% if request.user.kind == "Master" %}
                                 <li><a href="{% url 'tenants:tenant-list' %}">Empresa</a></li>
                                 <li><a href="{% url 'user_account:customuser-list' %}">Usuários</a></li>
                                 <li><a href="{% url 'master:diretoria-list' %}">Áreas da Empresa</a></li>
                                 <li><a href="{% url 'master:area-list' %}">Subáreas da Empresa</a></li>
                             {% endif %}
	       		         </ul>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Descrição de Cargos <span class="sr-only">(current)</span></a></a>
                        <ul>
<!--                            <li><a href="{% url 'admin_descricao:admin_descricao-list' %}">Modelos</a></li>-->
                            <li><a href="{% url 'descricao:descricao-list' %}">Descrição de Cargos</a></li>
                            {% if request.user.kind == "Master" %}
                                <li><a href="{% url 'descricao:descricao-list-aprovador' %}">Define Aprovador</a></li>
                            {% endif %}
                            <li><a href="{% url 'descricao:descricao-list-aprovacao' %}">Aprovação Pendente</a></li>
                            {% if request.user.kind == "Master" %}
                                <li><a href="{% url 'descricao:descricao-list-aprovacao-final' %}">Aprovação Final</a></li>
                                <li><a href="{% url 'descricao:descricao-rel-list' %}">Acompanhamento</a></li>
                            {% endif %}

<!--                            <li><a href="{% url 'descricao:descricao-rel' %}">Relatório2</a></li>-->
                            <li><a href="{% url 'descricao:descricao-manual' %}">Manual Elaboração</a></li>
                        </ul>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="#">Avaliação de Cargo <span class="sr-only">(current)</span></a></a>
                        {% if request.user.kind == "Master" %}
                            <ul>
                                <li><a href="{% url 'descricao:descricaomodelo-list' %}">Com Descrição</a></li>
                                <li><a href="{% url 'avaliacao:avaliacao-list' %}">Sem Descrição</a></li>
                                <li><a href="{% url 'avaliacao:avaliacao-rel-list' %}">Visão Detalhada</a></li>
                                <li><a href="{% url 'avaliacao:avaliacao-rel-list-matriz' %}">Visão Matriz</a></li>
                                <li><a href="{% url 'avaliacao:avaliacao-rel-list-hierarquica' %}">Visão Hierárquica</a></li>
                                <li><a href="{% url 'avaliacao:avaliacao-manual' %}">Manual Avaliação</a></li>
                            </ul>+
                        {% endif %}
                    </li>

<!--                    <li class="nav-item active">-->
<!--                        <a class="nav-link" href="#">Remuneração</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item active">-->
<!--                        <a class="nav-link" href="#">Práticas</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item active">-->
<!--                        <a class="nav-link" href="#">Relatórios</a>-->
<!--                    </li>-->
                    <li class="nav-item active">
                       <a class="nav-link" href="logar_usuario"><font size="1"><u>Sair </u></font><span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#"><font size="1"><u>{{ request.user.name }} - {{request.user.kind}}</u></font></a>
                    </li>



                </ul>
            </div>
        </div>

    </nav>

    <div class="container">
        <div class="jumbotron">
            <img src="{% static 'img/logo_h.png' %}" alt="logo" width="380px">
             <hr class="my-4">
            <p class="lead"  style="color: #00205E">A sua Plataforma Web para Gestão de Cargos e Salários.</p>
            </br>
            </br>

<!--            <a id="add-link" href="{% url 'descricao:descricao-list' %}">-->
<!--                <div class="col-2 add-div">-->
<!--                    <i class="fas fa-plus"></i>  Descrição de Cargo-->
<!--                </div>-->
<!--            </a>-->

            </br>
            <div class="container dashboard">
                <div class="col-4 dashboard-box" id="dashboard-descricoes">
                    <a id="add-link" href="{% url 'descricao:descricao-list' %}">
                        <h4 style="color:#FFFFFF"> Descrições Cadastradas</h4>
                    </a>
                    <span>{{descricao}}</span>
                </div>
            </div>

            <div class="container dashboard">
                <div class="col-4 dashboard-box" id="dashboard-avaliacoes">
                    <a id="add-link2" href="{% url 'avaliacao:avaliacao-list' %}">
                        <h4 style="color:#FFFFFF"> Avaliações Realizadas</h4>
                    </a>
                    <span>{{avaliacao}}</span>
                </div>
            </div>

            <div class="container dashboard">
                <div class="col-4 dashboard-box" id="dashboard-pendentes">
                    <a id="add-link3" href="{% url 'descricao:descricao-list-aprovacao' %}">
                        <h4 style="color:#FFFFFF"> Descrições Pendentes</h4>
                    </a>
                    <span>{{pendente}}</span>
                </div>
            </div>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
        </div>
    </div>


</body>

</html>
