<!DOCTYPE html>

<html lang="pt-br" >
<head>
<title>Recuperar senha</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">

<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">



    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">


<meta name="robots" content="NONE,NOARCHIVE">
</head>


<body class=""
  data-admin-utc-offset="-10800">

<!-- Container -->
<div id="container">


    <!-- Header -->
    <div id="header">
        <div id="branding">

<h1 id="site-name"><a>Administração Bluebox</a></h1>

        </div>




    </div>
    <!-- END Header -->

<div class="breadcrumbs">
<!--<a href="/admin/">Início</a>-->
&rsaquo; Recuperar senha
</div>



    <div class="main shifted" id="main">

      <div class="content">



        <!-- Content -->
        <div id="content" class="colM">

          <h1>Recuperar senha</h1>


<p>Esqueceu sua senha? Forneça seu endereço de email abaixo, e nos te enviaremos um email com instruções para configurar uma nova.</p>

<form method="post"><input type="hidden" name="csrfmiddlewaretoken" value="YMOe1z4kIyW0sZKFJxrvEa1q3FRxIesaYUFHTcp15Ez1EAiNiJc4fn24tf27uJld">
<fieldset class="module aligned">
    <div class="form-row field-email">
        {% csrf_token %}
        <label for="id_email">Endereço de email:</label>
        <input type="email" name="email" autocomplete="email" maxlength="254" required id="id_email">
    </div>
    <input type="submit" value="Reinicializar minha senha">
</fieldset>
</form>



          <br class="clear">
        </div>
        <!-- END Content -->
        <div id="footer"></div>
      </div>
    </div>
</div>
<!-- END Container -->
</body>
</html>

